import React from 'react';
{{#if wantStyledComponents}}
import { Styled{{ properCase name }} } from './{{ properCase name }}.style';
{{/if}}

const {{ properCase name }}: React.FC = () => {
    return (
      {{#unless wantStyledComponents}}
      <div>
      {{/unless}}
      {{#if wantStyledComponents}}
      <Styled{{ properCase name }}></Styled{{ properCase name }}>
      {{/if}}
      {{#unless wantStyledComponents}}
        </div>
      {{/unless}}
    );
}

export default {{ properCase name }};
